.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment files
.env
backend/.env

# Local database and uploads
backend/data/*.db
backend/data/*.sqlite
backend/data/*.faiss
backend/data/*.index
backend/data/*.json
backend/storage/uploads/

# Binaries & Large Files
*.pptx
*.pdf

# Streamlit cache
.streamlit/
